<app-header></app-header>
<section class="support-content pt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 mb-2">
<!--        <div class="sticky-sidebar">-->
          <div
            class="nav flex-column nav-pills support-article-tab bg-light rounded-custom p-5"
            id="v-pills-support"
            role="tablist"
            aria-orientation="vertical"
          >
            <h3 class="mb-3">My Account</h3>
            <button
              class="nav-link"
              data-bs-target="#support-tab-1"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="true"
              routerLink="/profile/edit"
            ><i class="fa fa-user mr-4"></i>
              Edit my personal info
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-2"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
              routerLink="/profile/change-password"
              ><i class="fa fa-key mr-4"></i>
              Change Password
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-3"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
              routerLink="/profile/history"
            ><i class="fa fa-history mr-4"></i>
              My Reservations History
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-4"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
              routerLink="/order"
            ><i class="far fa-clock mr-4"></i>
              Order Track
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-5"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
            ><i class="fa fa-list-dropdown mr-4"></i>
              Menu 5
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-6"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
            ><i class="fa fa-list-dropdown mr-4"></i>
              Menu 6
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-7"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
            ><i class="fa fa-list-dropdown mr-4"></i>
              Menu 7
            </button>
          </div>
<!--        </div>-->
      </div>
      <div class="col-sm-8">
        <div class="tab-content" id="v-pills-supportContent">
          <div
            class="tab-pane fade show active"
            id="support-tab-1"
            role="tabpanel"
          >
            <ng-content select="[content]"></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
