<app-header></app-header>
<section class="support-content ptb-120">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4 col-md-4 left--200">
        <div class="sticky-sidebar">
          <div
            class="nav flex-column nav-pills support-article-tab bg-light rounded-custom p-5"
            id="v-pills-support"
            role="tablist"
            aria-orientation="vertical"
          >
            <h3 class="mb-3">My Account</h3>
            <button
              class="nav-link"
              data-bs-target="#support-tab-1"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="true"
              routerLink="/profile/edit"
            ><i class="fa fa-user mr-4"></i>
              Edit my personal infos
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-2"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
            ><i class="fa fa-list-dropdown mr-4"></i>
              Menu 2
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-3"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
            ><i class="fa fa-list-dropdown mr-4"></i>
              Menu 3
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-4"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
            ><i class="fa fa-list-dropdown mr-4"></i>
              Menu 4
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-5"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
            ><i class="fa fa-list-dropdown mr-4"></i>
              Menu 5
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-6"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
            ><i class="fa fa-list-dropdown mr-4"></i>
              Menu 6
            </button>
            <button
              class="nav-link"
              data-bs-target="#support-tab-7"
              data-bs-toggle="pill"
              type="button"
              role="tab"
              aria-selected="false"
            ><i class="fa fa-list-dropdown mr-4"></i>
              Menu 7
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 left--40">
        <div class="tab-content" id="v-pills-supportContent">
          <div
            class="tab-pane fade show active"
            id="support-tab-1"
            role="tabpanel"
          >
      <ng-content select="[content]"></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
