<app-headerAdmin></app-headerAdmin>
<app-sidebar>
  <div title>
    <h3 class="page-title">Menu Management</h3>
  </div>
  <div content>
    <div class="row">
      <div class="col-lg-12 mb-3 d-flex justify-content-between">
        <div class="col-lg-1">
          <dialog #dialog2 class="col-lg-5">
            <div class="modal-title text-center">
              <h4> Add Menu </h4>
            </div>
            <div class="modal-body">
              <form name="form" [formGroup]="MenuForm" (ngSubmit)="onSubmit(); dialog2.close()"
                    enctype="multipart/form-data">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card ml-5">
                          <img src="assets/img/office-img-1.jpg" alt="default image">
                        </div>
                      </div>
                      <div class="col-md-5 ml-auto">
                        <div class="row">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label class="col-form-label">Name</label>
                              <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="form-group col-md-6">
                              <label class="col-form-label">Price</label>
                              <input type="number" class="form-control" formControlName="price">
                            </div>
                            <div class="form-group col-md-6">
                              <select class="dropdown col-5 ml-lg-auto text-center center" formControlName="dessert">
                                <option class="text-success" *ngFor="let d of desserts" [value]="d.id"> {{d.name}}
                                </option>
                              </select>
                            </div>
                            <div class="form-group col-md-6">
                              <label class="col-form-label">Date</label>
                              <input type="date" class="form-control" formControlName="date">
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col">
                              <label for="file-upload1" class="custom-file-button">Upload Main Dish Photo</label>
                              <input id="file-upload1" type="file"
                                     (change)="onFileSelected($event)">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer btn col-lg">
                  <button type="submit" class="btn btn-success">Save</button>
                  <button class="btn btn-danger" (click)="dialog2.close();">Close</button>
                </div>
              </form>
            </div>
          </dialog>
          <button class="btn btn-inverse-success" style="width: 100px" (click)="dialog2.showModal()"><i
            class="fa fa-add"></i> Add
          </button>
        </div>
        <div class="col-lg-4">
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <i class="input-group-text border-0 fa fa-search pr-3"></i>
            </div>
            <input type="text" class="form-control bg-transparent border-1" placeholder="Search">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mt-4" *ngFor="let m of menus | paginate: {itemsPerPage: 6, currentPage: p}">
        <div class="single-article rounded-custom mb-4 mb-lg-0">
          <a (click)="dialog.showModal()" class="article-img">
            <img
              [src]="('data:image/*;base64,' + m.image)"
              alt="article"
              class="img-fluid"
              style="max-height: 100px"
            />
          </a>
          <div class="article-content p-4">
            <div class="article-category mb-4 d-block text-center">
              <a
                (click)="dialog.showModal()"
                class="d-inline-block text-white badge badge-gradient-success"
              >{{m.date | date:'fullDate'}}</a>
            </div>
            <a (click)="dialog.showModal()" style="cursor: pointer">
              <h2 class="h3 menu-title limit-2-line-text text-center">
                {{m.name}} </h2>
            </a>
            <ul style="list-style: none">
              <li><i class="fa fa-check"></i> Starter dish selected by User</li>
              <li><i class="fa fa-check"></i> {{m.name}}</li>
              <li><i class="fa fa-check"></i> {{m.dessert.name}}</li>
            </ul>
            <div class="row">
              <div class="col">
                <h6 class="text-left">Total Price:</h6>
              </div>
              <div class="col">
                <h6 class="text-right">{{m.price}} DT</h6>
              </div>
            </div>
          </div>
        </div>
        <dialog #dialog class="col-lg-5 modal-xl flex-column">

          <div class="modal-title text-center">
            <button type="button" class="close mr-3" aria-label="Close" (click)="dialog.close()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4>{{m.name}}</h4>
            <span class="avatar-info">Date {{m.date}}</span>
          </div>
          <table class="table table-hover mt-2 position-relative flex-grow-1">
            <thead>
            <tr>
              <th class="text-center">Photo</th>
              <th class="text-center"> Dish Name</th>
              <th class="text-center"> Description</th>
              <th class="text-center"> Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="d-flex align-items-center justify-content-center"><img
                [src]="('data:image/*;base64,' + m.dessert.image)" alt="{{m.name}}" style="object-fit: contain"></td>
              <td class="text-center">{{m.dessert.name}}</td>
              <td class="text-center">{{m.dessert.description}}</td>
              <td class="text-center">{{m.dessert.price}}</td>
            </tr>
            </tbody>
          </table>
          <h4 class="text-right mt-3 mr-4">Total price : {{m.price}} DT</h4>
        </dialog>
      </div>
      <div class="mt-4 center text-success">
        <pagination-controls [responsive]=true (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</app-sidebar>
