<app-headerAdmin></app-headerAdmin>
<app-sidebar>
  <div title>
    <h3 class="page-title"> Dishes Management </h3>
  </div>
  <div content>
    <div class="row">
      <div class="grid-margin col-lg-12">
        <button class="col-lg-1 btn btn-inverse-success" (click)="dialog3.showModal()"><i class="fa fa-add"></i>Add
        </button>
      </div>
    </div>
    <dialog #dialog3 class="col-lg-5 modal-xl">
      <div class="modal-title text-center">
        <h4> Add Dish </h4>
      </div>
      <form name="form" #frm="ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="card ml-5">
                  <img src="assets/img/office-img-1.jpg">
                </div>
              </div>
              <div class="col-md-5 ml-auto">
                <div class="row">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label class="col-form-label">Name</label>
                      <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="DessertForm.name">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="col-form-label">Price</label>
                      <input type="number" class="form-control" name="price" #price="ngModel"
                             [(ngModel)]="DessertForm.price">
                    </div>
                    <div class="form-group col">
                      <label class="col-form-label">Description</label>
                      <textarea class="form-control" name="description" #description="ngModel"
                                [(ngModel)]="DessertForm.description"></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <label for="file-upload1" class="custom-file-button">Upload Photo</label>
                      <input id="file-upload1" type="file" #fileInput accept=".png, .jpg, .jpeg" name="photo"
                             (change)="onFileSelected($event)"

                      >

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer btn col-lg">
          <button type="submit" class="btn btn-success">Save</button>
          <button class="btn btn-danger" (click)="dialog3.close();">Close</button>
        </div>
      </form>

    </dialog>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-center">Photo</th>
        <th class="text-center"> Dish Name</th>
        <th class="text-center"> Description</th>
        <th class="text-center"> Price</th>
        <th class="text-center"> Actions</th>
      </tr>
      </thead>
      <tbody *ngFor="let d of desserts">
      <tr>
        <!--        <td><img src="assets/img/office-img-1.jpg"></td>-->
        <td><img [src]="d.photoUrl"></td>
        <!--        <td><img src="{{ getPhotos(d.photo)  }}"></td>-->
        <td class="text-center">{{d.name}}</td>
        <td class="text-center">{{d.description}}</td>
        <td class="text-center">{{d.price}}</td>

        <td class="p-0">
          <button class="btn btn-icon btn-inverse-success ml-5" (click)="dialog.showModal(); editDessert(d)">
            <i class="fa fa-pen"></i>
          </button>
          <button type="button" class="btn btn-icon btn-inverse-danger ml-1 mr-n5"
                  (click)="dialog2.showModal();">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      <dialog #dialog class="col-lg-5 modal-xl">
        <div class="modal-title text-center">
          <h4> Update {{d.name}} </h4>
        </div>
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="card ml-5">
                    <img class="edit-dish-photo" [src]="d.photoUrl">
                    <!--                    <img src="assets/img/office-img-1.jpg">-->
                  </div>
                </div>
                <div class="col-md-5 ml-auto">
                  <div class="row">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label class="col-form-label">Name</label>
                        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="DessertForm.name">
                      </div>
                      <div class="form-group col-md-6">
                        <label class="col-form-label">Price</label>
                        <input type="number" class="form-control" name="price" #price="ngModel"
                               [(ngModel)]="DessertForm.price">
                      </div>
                      <div class="form-group col">
                        <label class="col-form-label">Description</label>
                        <textarea class="form-control" name="description" #description="ngModel"
                                  [(ngModel)]="DessertForm.description"></textarea>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <label for="file-upload" class="custom-file-button">Select Photo</label>
                        <input id="file-upload" type="file" accept=".png, .jpg, .jpeg" name="photo" #photo="ngModel"
                               [(ngModel)]="DessertForm.photo">
                        <button class="btn btn-inverse-success" (change)="onFileChange($event)">Upload</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer btn col-lg">
          <button type="submit" class="btn btn-success" (click)="Update()">Save</button>
          <button class="btn btn-danger" (click)="dialog.close()">Close</button>
        </div>
      </dialog>
      <dialog #dialog2 class="col-lg-5">
        <div class="modal-title text-center">
          <h4> Delete {{d.name}} </h4>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <span>Do you really want to delete {{d.name}} ?</span>
          </div>
        </div>
        <div class="modal-footer btn col-lg">
          <button class="btn btn-danger" (click)="Delete(d.id)">Delete</button>
          <button class="btn btn-inverse-light" (click)="dialog2.close()">Close</button>
        </div>
      </dialog>
      </tbody>
    </table>
  </div>
</app-sidebar>
