<app-userAccount>
  <div content>
    <div class="text-center bg-light p-2 rounded-custom mb-5 mb-lg-5 w-auto">
      <h2 class="mt-2">My Reservations History</h2>
      <div class="mb-3 d-flex justify-content-end">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-filter"></i>
          </button>
          <div class="dropdown-menu text-center" aria-labelledby="filterDropdown">
            <a class="dropdown-item" (click)="filterReservationsByStatus('')">All</a>
            <a class="dropdown-item" (click)="filterReservationsByStatus('TREATED')"><i
              class="fa fa-check-circle text-success"></i></a>
            <a class="dropdown-item" (click)="filterReservationsByStatus('IN_PROCESS')"><i
              class="fa fa-clock text-warning"></i></a>
            <a class="dropdown-item" (click)="filterReservationsByStatus('CANCELLED')"><i
              class="fa fa-xmark-circle text-danger"></i></a>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="timeline">
              <div class="timeline-item" *ngFor="let h of history | keyvalue">
                <div class="timeline-icon"><i class="fa fa-calendar-check"></i></div>
                <div class="timeline-date ml-3">{{h.key | date}}</div>
                <div class="timeline-content-container">
                  <ng-container *ngIf="h.value as data">
                    <div class="timeline-content custom-shadow mt-4 p-4 rounded-custom"
                         *ngFor="let reservation of data">
                      <div class="row" *ngIf="reservation.food==null">
                        <h3 class="text-center">{{ reservation.menu.name }}</h3>
                        <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                          <img [src]="('data:image/*;base64,' + reservation.menu.image)" alt="Menu Photo"
                               class="img-fluid">
                        </div>
                        <div class="col-md-8">
                          <div class="d-flex flex-column justify-content-between h-100">
                            <div class="text-left">
                              <div class="text-left d-flex align-items-center">
                                <div [ngSwitch]="reservation.reservationStatus" class="ms-auto">
                                  <span *ngSwitchCase="'TREATED'" class="fa fa-check-circle text-success"></span>
                                  <span *ngSwitchCase="'IN_PROCESS'" class="fa fa-clock text-warning"></span>
                                  <span *ngSwitchCase="'CANCELLED'" class="fa fa-xmark-circle text-danger"></span>
                                </div>
                              </div>
                            </div>
                            <div class="text-left">
                              <ul class="list-unstyled mb-4">
                                <li>
                                  <span class="far fa-salad me-1"></span> {{reservation.starter.name}}
                                </li>
                                <li>
                                  <span class="far fa-cutlery me-1"></span> {{reservation.menu.name}}
                                </li>
                                <li>
                                  <span class="far fa-glass-citrus me-1"></span> {{reservation.menu.dessert.name}}
                                </li>
                              </ul>
                            </div>
                            <div class="text-right">
                              <span
                                class="badge px-3 py-2 bg-primary text-light rounded-pill">{{ reservation.menu.price }} DT</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="reservation.menu==null">
                        <h3 class="text-center">{{ reservation.food.name }}</h3>
                        <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0">
                          <img [src]="('data:image/*;base64,' + reservation.food.image)" alt="Menu Photo"
                               class="img-fluid">
                        </div>
                        <div class="col-md-8">
                          <div class="d-flex flex-column justify-content-between h-100">
                            <div class="text-left">
                              <div class="text-left d-flex align-items-center">
                                <div [ngSwitch]="reservation.reservationStatus" class="ms-auto">
                                  <span *ngSwitchCase="'TREATED'" class="fa fa-check-circle text-success"></span>
                                  <span *ngSwitchCase="'IN_PROCESS'" class="fa fa-clock text-warning"></span>
                                  <span *ngSwitchCase="'CANCELLED'" class="fa fa-xmark-circle text-danger"></span>
                                </div>
                              </div>
                            </div>
                            <div class="text-right">
                              <span
                                class="badge px-3 py-2 bg-primary text-light rounded-pill">{{ reservation.food.price }} DT</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-userAccount>
