<div class="main-wrapper">
  <section
    class="sign-up-in-section bg-gradient"
    style="
      background: url('../../../assets/img/page-header-bg.svg') no-repeat right bottom;
    "
  >
    <div class="container">
      <div class="home-link-container">
        <a href="/" class="text-decoration-none home-link">
          <i class="fa fa-arrow-left-long"></i> Home
        </a>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 col-md-6 col-12 form-login">
          <div class="register-wrap p-5 bg-light shadow rounded-custom">
            <div class="row">
              <div class="col text-center">
                <img src="assets/img/favicon.ico" class="icon-center img-fluid" style="height: 65px; width: 70px">
              </div>
            </div>
            <h1 class="h4 text-center">Nice to See You Again</h1>
            <p class="text-muted text-center">
              Please log in to access your account
            </p>
            <div
              class="position-relative d-flex align-items-center justify-content-center mt-4 py-2"
            >
              <span class="divider-bar"></span>
              <h6
                class="position-absolute text-center divider-text bg-light mb-0"
              >
              </h6>
            </div>
            <form
              *ngIf="!isLoggedIn"
              name="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && onSubmit()"
              novalidate
              class="mt-4 register-form"
            >
              <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
              <div class="col-md-12">
                <label for="email" class="col-sm-2 col-form-label">Email<span class="text-danger">*</span></label>
                <div class="col-sm-12">
                  <input type="text" class="form-control col-md-auto " requierd minlength="3" id="email"
                         name="Email" #username="ngModel" [(ngModel)]="form.email">
                </div>
              </div>
              <div class="col-md-12">
                <label for="password" class="col-sm-2 col-form-label">Password<span class="text-danger">*</span></label>
                <div class="col-sm-12 mb-3">
                  <input type="password" class="form-control col-md-auto" required minlength="6" #password="ngModel"
                         [(ngModel)]="form.password" name="Password" id="password">

                </div>
              </div>
              <div class="col-md-12 ">
                <a class="text-decoration-none text-center mt-3 pt-4 mb-0 fw-medium text-info"
                   routerLink="/forgot-password">Forgot Password ?</a>
              </div>
              <div class="col-12 form-group">
                <button class="btn bg-gradient mt-3 d-block w-100 text-light font-weight-bold" type="submit">Login
                </button>
              </div>
              <p
                class="font-monospace fw-normal text-center text-muted mt-3 pt-4 mb-0"
              >
                Don’t have an account ?
                <a routerLink="/signup" class="text-decoration-none fw-medium text-info"
                >Sign up Today</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
