<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" routerLink="/"><img src="/assets/img/logo_wevioo_white.png" alt="logo"/></a>
    <a class="navbar-brand brand-logo-mini" routerLink="/"><img src="/assets/img/logo-wevioo-mini.png" alt="logo"/></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="fa fa-bars"></span>
    </button>
    <div class="search-field d-none d-xl-block">
      <form class="d-flex align-items-center h-100" action="#">
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <i class="input-group-text border-0 fa fa-search"></i>
          </div>
          <input type="text" class="form-control bg-transparent border-0" placeholder="Search">
        </div>
      </form>
    </div>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown">
        <div class="nav-profile-text mr-3">
          <i class="fa fa-user mr-2 ml-2"></i>
          <span class="mb-1 text-black">{{userName}}</span>
        </div>
      </li>
      <!-- -->
      <li class="nav-item dropdown">
        <a class="nav-link"
           id="notificationsDropdown"
           role="button"
           data-bs-toggle="dropdown" aria-expanded="false"
           (click)="clearNotification(currentUserId)">
          <span class="notification-dot" [ngClass]="{'active': hasNewNotifications}"></span> <i
          class="fa fa-bell"></i>
        </a>
        <ul class="dropdown-menu navbar-dropdown preview-list custom-dropdown-menu"
            aria-labelledby="notificationsDropdown" style="width: 250px">
          <ng-container
            *ngIf="getUserRole() == 'ROLE_STAFF' && notifications && notifications.length > 0; else noNotifications">
            <h6 class="p-3 mb-1 bg-success text-white py-4 ">Notifications</h6>
            <div class="dropdown-divider"></div>
            <li *ngFor="let notification of notifications" [class.seen]="notification.seen">
              <div class="row">
                <div class="col-2" [ngSwitch]="notification.reservationStatus">
          <span class="notification-icon">
            <i *ngSwitchCase="'TREATED'" class="fa fa-check-circle text-success"></i>
            <i *ngSwitchCase="'CANCELLED'" class="fa fa-xmark-circle text-danger"></i>
          </span>
                </div>
                <div class="col">
                  <div class="row">
                    <span class="notification-message" style="white-space: normal;">{{ notification.message }}</span>
                  </div>
                  <div class="row">
                    <span class="notification-date">{{ notification.dateTime | ago}}</span>
                  </div>
                </div>
              </div>
              <hr class="dropdown-item-separator">
            </li>
          </ng-container>
          <ng-template #noNotifications>
            <li *ngIf="notifications.length === 0" class="text-dark text-center mt-2 mb-2">No notifications.</li>
          </ng-template>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <i class="fa fa-power-off"></i>
        </a>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            (click)="toggleSidebar()"
            data-toggle="offcanvas">
      <span class="fa fa-bars"></span>
    </button>
  </div>
</nav>
