<div class="container-fluid page-body-wrapper">
  <nav class="sidebar sidebar-offcanvas " id="sidebar" [class.sidebar--visible]="isSidebarVisible" style="position: fixed; height: 100%">
    <div *ngIf="role == 'ROLE_ADMIN'">
    <ul class="nav">
      <li class="nav-item nav-category">Main</li>
      <li class="nav-item">
        <a class="nav-link mt-5" routerLink="/admin/dashboard">
          <span class="icon-bg"><i class="fa fa-dashboard menu-icon"></i></span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" routerLink="/admin/users" aria-expanded="false" aria-controls="ui-basic">
          <span class="icon-bg"><i class="fa fa-user-edit menu-icon"></i></span>
          <span class="menu-title">User Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users/disabled">
          <span class="icon-bg"><i class="fa fa-ban menu-icon"></i></span>
          <span class="menu-title">Disabled Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  style="cursor: pointer" (click)="toggleDropdown('Reservations')">
          <span class="icon-bg"><i class="fa fa-check-double menu-icon"></i></span>
          <span class="menu-title">Reservations</span>
          <i class="fa fa-chevron-down arrow"></i>
        </a>
        <ul class="nav flex-column sub-arrow sub-menu" *ngIf="isDropdownOpen('Reservations')">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/reservations/today">Today's Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/reservations/treated">Treated Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/reservations/pending">Pending Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/reservations/cancelled">Cancelled Reservations</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/starters">
          <span class="icon-bg"><i class="fa fa-salad menu-icon"></i></span>
          <span class="menu-title">Starters</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/desserts">
          <span class="icon-bg"><i class="fa fa-pie menu-icon"></i></span>
          <span class="menu-title">Desserts</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/menus" >
          <span class="icon-bg"><i class="fa fa-book menu-icon"></i></span>
          <span class="menu-title">Menus Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/admin/sandwiches'" >
          <span class="icon-bg"><i class="fa fa-sandwich menu-icon"></i></span>
          <span class="menu-title">Sandwiches</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/admin/pizza'">
          <span class="icon-bg"><i class="fa fa-pizza menu-icon"></i></span>
          <span class="menu-title">Pizzas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/admin/breakfast'">
          <span class="icon-bg"><i class="fa fa-croissant menu-icon"></i></span>
          <span class="menu-title">Breakfast</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/admin/drinks'">
          <span class="icon-bg"><i class="fa fa-mug-hot menu-icon"></i></span>
          <span class="menu-title">Drinks</span>
        </a>
      </li>
      <li class="nav-item sidebar-user-actions" style="margin-top: 80px">
        <div class="sidebar-user-menu user-details">
          <ul>
            <li class="nav-item sidebar-user-actions" style="list-style: none">
              <a routerLink="/admin/change-password" class="nav-link"><i class="fa fa-edit menu-icon"></i>
                <span class="menu-title">Change Password</span>
              </a>
            </li>
           <!-- <li class="nav-item sidebar-user-actions" style="list-style: none">
              <a (click)="logout()" class="nav-link"><i class="fa fa-power-off menu-icon"></i>
                <span class="menu-title">Log Out</span></a>
            </li>-->
          </ul>
        </div>
      </li>
    </ul>
    </div>
    <div *ngIf="role == 'ROLE_STAFF'">
    <ul class="nav">
      <li class="nav-item nav-category">Main</li>
      <li class="nav-item">
        <a class="nav-link mt-5"  style="cursor: pointer" (click)="toggleDropdown('Reservations')">
          <span class="icon-bg"><i class="fa fa-check-double menu-icon"></i></span>
          <span class="menu-title">Reservations</span>
          <i class="fa fa-chevron-down arrow"></i>
        </a>

          <ul class="nav flex-column sub-arrow sub-menu" *ngIf="isDropdownOpen('Reservations')">
            <li class="nav-item">
              <a class="nav-link" routerLink="/staff/reservations/today">Today's Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/staff/reservations/treated">Treated Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/staff/reservations/pending">Pending Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/staff/reservations/cancelled">Cancelled Reservations</a>
            </li>
          </ul>

      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/staff/starters">
          <span class="icon-bg"><i class="fa fa-salad menu-icon"></i></span>
          <span class="menu-title">Starters</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/staff/desserts">
          <span class="icon-bg"><i class="fa fa-pie menu-icon"></i></span>
          <span class="menu-title">Desserts</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/staff/menu-management">
          <span class="icon-bg"><i class="fa fa-book menu-icon"></i></span>
          <span class="menu-title">Menu Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/staff/sandwiches'" >
          <span class="icon-bg"><i class="fa fa-sandwich menu-icon"></i></span>
          <span class="menu-title">Sandwiches</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/staff/pizza'">
          <span class="icon-bg"><i class="fa fa-pizza menu-icon"></i></span>
          <span class="menu-title">Pizzas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/staff/breakfast'">
          <span class="icon-bg"><i class="fa fa-croissant menu-icon"></i></span>
          <span class="menu-title">Breakfast</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/staff/drinks'">
          <span class="icon-bg"><i class="fa fa-mug-hot menu-icon"></i></span>
          <span class="menu-title">Drinks</span>
        </a>
      </li>
      <li class="nav-item sidebar-user-actions mt-210">
        <div class="sidebar-user-menu user-details">
          <ul>
            <li class="nav-item sidebar-user-actions" style="list-style: none">
              <a routerLink="/staff/change-password" class="nav-link"><i class="fa fa-edit menu-icon"></i>
                <span class="menu-title">Change Password</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    </div>
  </nav>
  <div class="main-panel mt-60 ml-260">
    <div class="content-wrapper embed-responsive">
      <div class="page-header">
        <ng-content select="[title]"></ng-content>
      </div>
      <div class="row">
        <div class="col-lg-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <ng-content select="[content]"></ng-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
