@import "src/assets/css/style.css";


.sidebar--visible {
  position: fixed;
  max-height: calc(100vh - 64px);
  top: 64px;
  bottom: 0;
  overflow: auto;
  right: -258px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.sidebar-offcanvas.active {
  right: 0;
}

.arrow{
  line-height: 1;
  font-size: 0.9rem;
  margin-left: auto;
  color: rgba(255, 255, 255, 0.36);
}
sub-arrow{
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #a2a2a2;
  font-size: .75rem;
}
