<app-headerAdmin></app-headerAdmin>
<app-sidebar>
  <div title>
    <h3 class="page-title">Cancelled Reservations</h3>
  </div>
  <div content>
    <table class="table table-hover table-responsive-sm">
      <thead>
      <tr>
        <th class="text-center">Menu</th>
        <th class="text-center"> User</th>
        <th class="text-center"> Date</th>
        <th class="text-center"> Status</th>
        <th class="text-center"> Cancelled by</th>
      </tr>
      </thead>
      <tbody *ngIf="reservations != null && reservations.length > 0; else noReservations">
      <tr *ngFor="let d of reservations">
        <td class="text-center">{{ d.menu.name }}</td>
        <td class="text-center">{{ d.user.firstname }} {{ d.user.lastname }}</td>
        <td class="text-center">{{ d.date | ago }}</td>
        <td class="text-center" [ngSwitch]="d.reservationStatus">
          <label class="badge danger-bg-gradient" *ngSwitchCase="'CANCELLED'">Cancelled</label>
        </td>
        <td class="text-center" [ngSwitch]="d.staff">
          <label *ngSwitchCase="null">{{ d.user.firstname }} {{ d.user.lastname}}</label>
          <label *ngSwitchDefault>{{ d.staff.firstname }} {{ d.staff.lastname}}</label>
        </td>
      </tr>
      </tbody>
      <ng-template #noReservations>
        <tr>
          <td class="text-center" colspan="5">No reservations available</td>
        </tr>
      </ng-template>
    </table>

  </div>
</app-sidebar>
