<app-header></app-header>
<section
  class="hero-section ptb-120 position-relative overflow-hidden bg-purple"
  style="
    background: url('../../../assets/img/shape/shape-bg-2.svg') no-repeat center top,url('../../../assets/img/shape/bg-weav-pattern.svg') no-repeat center
      top;
  "
>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-8 col-lg-10 mb-5">
        <div class="hero-content-wrap">
          <h1 class="fw-bold display-5 text-dark" data-aos="fade-up">
            Canteen Lunch Reservation
          </h1>
          <p class="lead" data-aos="fade-up" data-aos-delay="50">
           Intro Paragraph
          </p>
          <div
            class="action-btns text-center pt-4"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <a routerLink="/login" class="btn bg-dark text-light me-3"
            >Sign In</a
            >
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="position-relative" data-aos="fade-up" data-aos-delay="200">
          <ul
            class="position-absolute animate-element parallax-element widget-img-wrap z-2"
          >
            <li class="layer" data-depth="0.04">
              <img
                src="../../../assets/img/green.png"
                alt="widget-img"
                class="img-fluid widget-img-1 position-absolute shadow-lg rounded-custom"
              />
            </li>
            <li class="layer" data-depth="0.02">
              <img
                src="../../../assets/img/red.png"
                alt="widget-img"
                class="img-fluid widget-img-3 position-absolute shadow-lg rounded-custom"
              />
            </li>
          </ul>
          <img
            src="../../../assets/img/black.png"
            alt=""
            class="img-fluid position-relative rounded-custom mt-5"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="image-feature ptb-120 bg-dark">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 col-12">
        <div class="feature-img-content">
          <div class="section-heading text-light" data-aos="fade-up">
            <h2>Title</h2>
            <p>
              App Description
            </p>
          </div>
          <ul
            class="list-unstyled d-flex flex-wrap list-two-col mb-0"
            data-aos="fade-up"
            data-aos-delay="50"
          >
            <li>
              <div class="icon-box">
                <i class="fas fa-users text-white bg-primary rounded"></i>
              </div>
              <h3 class="h5">Feature</h3>
              <p>Feature Description.</p>
            </li>
            <li>
              <div class="icon-box">
                <i class="fas fa-lock text-white bg-danger rounded"></i>
              </div>
              <h3 class="h5">Feature</h3>
              <p>
                Feature Description
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="feature-img-holder p-lg-5 pt-3">
          <div
            class="p-lg-5 p-3 bg-danger-soft position-relative rounded-custom d-block feature-img-wrap"
          >
            <div class="z-10 position-relative">
              <img
                src="../../../assets/img/red.png"
                class="img-fluid rounded-custom position-relative"
                alt="feature-image"
                data-aos="fade-up"
                data-aos-delay="50"
              />
              <img
                src="../../../assets/img/green.png"
                class="img-fluid rounded-custom shadow position-absolute bottom--100 right--100 hide-medium"
                alt="feature-image"
                data-aos="fade-up"
                data-aos-delay="100"
              />
            </div>
            <div
              class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 top-left"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
