<div class="main-wrapper">
  <section
    class="sign-up-in-section bg-gradient"
    style="
      background: url('../../../assets/img/page-header-bg.svg') no-repeat right bottom;
    "
  >
    <div class="container">
      <div class="home-link-container">
        <a href="/" class="text-decoration-none home-link">
          <i class="fa fa-arrow-left-long"></i> Home
        </a>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 col-md-8 col-12">
          <div class="register-wrap p-signup bg-light shadow rounded-custom">
            <div class="row">
              <div class="col text-center">
                <img src="assets/img/favicon.ico" class="icon-center img-fluid" style="height: 65px; width: 70px">
              </div>
            </div>
            <h1 class="h4 text-center">Create an Account</h1>
            <p class="text-muted text-center">
              Get Started by creating an account
            </p>
            <div
              class="position-relative d-flex align-items-center justify-content-center mt-4 py-0"
            >
              <span class="divider-bar"></span>
              <h6
                class="position-absolute text-center divider-text bg-light"
              >
              </h6>
            </div>
            <form
              class="row g-3 needs-validation col-md-12"
              *ngIf="!isSuccessful"
              name="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && onSubmit()"
              nonvalidate
              class="mt-4 register-form"
            >
              <div class="row">
                <div class="col-sm-12">
                  <label for="Username" class="mb-1"
                  >Email <span class="text-danger">*</span></label
                  >
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Email"
                      required
                      minlength="3"
                      id="username"
                      name="Username"
                      #username="ngModel"
                      [(ngModel)]="form.username"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="firstname" class="mb-1"
                  >First Name <span class="text-danger">*</span></label
                  >
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                      id="firstname"
                      required
                      #firstname="ngModel"
                      [(ngModel)]="form.firstname"
                      name="firstname"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="lastname" class="mb-1"
                  >Last Name <span class="text-danger">*</span></label
                  >
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last Name"
                      required
                      minlength="3"
                      id="lastName"
                      #lastName="ngModel"
                      name="lastname"
                      [(ngModel)]="form.lastname"
                    />
                  </div>
                </div>
                <div class="col-sm-12">
                  <label for="password" class="mb-1"
                  >Password <span class="text-danger">*</span></label
                  >
                  <div class="input-group mb-3">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      id="password"
                      required
                      #password="ngModel"
                      [(ngModel)]="form.password"
                      name="Password"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <button
                    type="submit"
                    class="btn bg-gradient text-light fw-semi-bold mt-4 d-block w-100"
                  >
                    Sign Up
                  </button>
                </div>
              </div>
              <p
                class="text-center text-muted mt-4 mb-0 font-monospace"
              >
                Already have an account?
                <a routerLink="/login" class="text-decoration-none fw-semi-bold text-info"
                >Sign in</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
