.home-link-container {
  position: absolute;
  top: 0;
  left: 10;
  bottom: 150;
  margin: 20px;
}
.home-link-container:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.home-link {
  color: #c1d5f5 !important;
  font-size: x-large;
}
.home-link:hover {
  font-size: x-large;
  color: #dfe6f2 !important;
}
@media (max-width: 360px) {
  .home-link-container {
    top: -25px;
    left: -15px;
  }
}
@media (max-width: 280px) {
  .home-link-container {
    display: none;
  }
}
