.notification-dot {
  position: absolute;
  top: 12px;
  right: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  display: none;
}

.notification-dot.active {
  display: block;
}
.profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  margin-left: 15px;
  font-family: Calibri;
  font-size: 18px;
}
