<header class="main-header w-100">
  <nav
    class="navbar navbar-expand-xl sticky-header bg-gradient"
    [ngClass]="[ sticky ? 'affix' : '']"
    (scroll)="onscroll()"
  >
    <div
      class="container d-flex align-items-center justify-content-lg-between position-relative"
    >
      <a
        routerLink="/"
        class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none"
      >
        <img
          src="../../../../assets/img/logo_wevioo_white.png"
          alt="logo"
          class="img-fluid logo-white"
        />
      </a>
      <div
        *ngIf="isLoggedIn == true && getUserRole() == 'ROLE_USER'">
        <ul class="list-unstyled d-inline-flex">
          <li class="nav-item mt-1 order-track">
            <a class="nav-link text-light font-weight-bold" routerLink="/order"><i class="far fa-clock"></i> Order
              Track </a>
          </li>
          <li class="nav-item dropdown mt-1">
            <a class="nav-link text-light" (click)="clearNotification(currentUser.id)"
               id="notificationsDropdown"
               role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              <span class="notification-dot" [ngClass]="{'active': hasNewNotifications}"></span> <i
              class="fa fa-bell"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationsDropdown" style="width: 300px">
              <ng-container *ngIf="notifications && notifications.length > 0; else noNotifications">
                <li *ngFor="let notification of notifications" [class.seen]="notification.seen">
                  <div class="row">
                    <div class="col-2" [ngSwitch]="notification.reservationStatus">
                        <span class="notification-icon">
                          <i *ngSwitchCase="'TREATED'" class="fa fa-check-circle text-success"></i>
                          <i *ngSwitchCase="'CANCELLED'" class="fa fa-xmark-circle text-danger"></i>
                        </span>
                    </div>
                    <div class="col">
                      <div class="row">
                        <span class="notification-message pe-5"
                              style="white-space: normal;">{{ notification.message }}</span>
                      </div>
                      <div class="row">
                        <span class="notification-date">{{ notification.dateTime | ago}}</span>
                      </div>
                    </div>
                  </div>
                  <hr class="dropdown-item-separator">
                </li>
              </ng-container>
              <ng-template #noNotifications>
                <li *ngIf="notifications.length === 0" class="text-dark text-center mt-2 mb-2">No notifications.</li>
              </ng-template>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="userProfileDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              <img [src]="('data:image/*;base64,' + currentUser.image)" alt="" class="profile-image">
              <span class="profile-name">{{currentUser.firstname}} </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" style="width: 250px" aria-labelledby="userProfileDropdown">
              <li><a class="dropdown-item" routerLink="/profile"><i class="fa fa-user me-3"></i> Profile</a></li>
              <li><a class="dropdown-item history-responsive" routerLink="/profile/history"><i
                class="fa fa-history me-3"></i> My
                reservations history
              </a></li>
              <li><a class="dropdown-item" routerLink="/profile/edit"><i class="fa fa-pencil-alt me-3"></i> Update
                Infos</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" style="cursor: pointer" (click)="logout()"><i
                class="fa fa-power-off me-3"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <a class="navbar-toggler position-absolute end-0" role="button">
        <span
          class="far fa-bars"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBackdrop"
          aria-controls="offcanvasWithBackdrop"
        ></span>
      </a>
      <div class="navbar-collapse collapse justify-content-center"
           style="position: absolute; left: 50%; transform: translateX(-50%);">
        <ul class="nav col-12 col-md-auto justify-content-center main-menu">
          <li class="nav-item">
            <a routerLink="/" class="nav-link text-light-menu ">Home</a></li>
          <li><a routerLink="/menu" class="nav-link text-light-menu">Daily Menu</a></li>
          <li><a routerLink="/sandwiches" class="nav-link text-light-menu">Sandwiches</a></li>
          <li><a routerLink="/pizza" class="nav-link text-light-menu">Pizza</a></li>
          <li><a routerLink="/breakfast-drinks" class="nav-link text-light-menu">Breakfast & Drinks</a></li>
        </ul>
      </div>
      <div
        class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block"
        *ngIf="isLoggedIn == false"
      >
        <a routerLink="/login" class="btn text-light bg-dark text-decoration-none me-2"
        >Sign In</a
        >
        <a routerLink="/signup" class="btn bg-primary-light right--10">Get Started</a>
      </div>
      <div
        class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block"
        *ngIf="isLoggedIn == true && getUserRole() == 'ROLE_STAFF'"
      >
        <a routerLink="/staff/reservations" class="btn text-light bg-dark text-decoration-none me-2"
        >Staff Dashboard</a>
        <a class="btn bg-danger-light right--10" (click)="logout()">Logout</a>
      </div>
      <div
        class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block"
        *ngIf="isLoggedIn == true && getUserRole() == 'ROLE_ADMIN' "
      >
        <a routerLink="/admin/dashboard" class="btn text-light bg-dark text-decoration-none me-2"
        >Admin Dashboard</a>
        <a class="btn bg-danger-light right--10" (click)="logout()">Logout</a>
      </div>
      <div
        class="offcanvas offcanvas-end text-left"
        tabindex="-1"
        id="offcanvasWithBackdrop"
      >
        <div class="offcanvas-header d-flex align-items-center mt-4">
          <a
            routerLink="/"
            class="d-flex align-items-center mb-md-0 text-decoration-none"
          >
            <img
              src="../../../../assets/img/logo_wevioo.png"
              alt="logo"
              class="img-fluid ps-2"
            />
          </a>
          <button
            type="button"
            class="close-btn text-danger"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <i class="far fa-close"></i>
          </button>
        </div>
        <div class="offcanvas-body">
          <ul class="nav col-12 col-md-auto justify-content-center main-menu">
            <li class="nav-item">
              <a routerLink="/" class="nav-link text-dark-menu ">Home</a></li>
            <li><a routerLink="/menu" class="nav-link text-dark-menu">Daily Menu</a></li>
            <li><a routerLink="/sandwiches" class="nav-link text-dark-menu">Sandwiches</a></li>
            <li><a routerLink="/pizza" class="nav-link text-dark-menu">Pizza</a></li>
            <li><a routerLink="/breakfast-drinks" class="nav-link text-dark-menu">Breakfast & Drinks</a></li>
            <li><a class="nav-link text-dark" routerLink="/order">Order Track </a></li>

          </ul>
          <div
            class="action-btns mt-4 ps-3"
            *ngIf="isLoggedIn == false"
          >
            <a routerLink="/login" class="btn text-light bg-dark text-decoration-none me-2"
            >Sign In</a
            >
            <a routerLink="/signup" class="btn bg-primary-light right--10">Get Started</a>
          </div>
          <div
            class="action-btns mt-4 ps-3"
            *ngIf="isLoggedIn == true && getUserRole() == 'ROLE_STAFF'"
          >
            <a routerLink="/staff/reservations/today" class="btn text-light bg-dark text-decoration-none me-2"
            >Staff Dashboard</a>
            <a class="btn bg-danger-light right--10" (click)="logout()">Logout</a>
          </div>
          <div
            class="action-btns mt-4 ps-3"
            *ngIf="isLoggedIn == true && getUserRole() == 'ROLE_ADMIN' "
          >
            <a routerLink="/admin" class="btn text-light bg-dark text-decoration-none me-2"
            >Admin Dashboard</a>
            <a class="btn bg-danger-light right--10" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
