.notification-dot {
  position: absolute;
  top: 12px;
  right: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  display: none;
}

.notification-dot.active {
  display: block;
}
.profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  padding: 2px;
}

.profile-name {
  margin-left: 15px;
  font-family: Calibri;
  font-size: 18px;
}

@media ( max-width : 1200px) {
  .d-flex {
    display: flex;
  }
  .profile-image{
    max-width: 50px;
    margin-right: 50px;
  }
  .profile-name{
    display: none;
  }
  .order-track{
    display: none;
  }
  .history-responsive{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
.notification-content {
  display: flex;
  flex-direction: column;
}

.notification-date {
  color: #0b163f;
  font-size: 14px;
}

.notification-message {
  margin-top: 5px;
  color: #000000;
  word-wrap: break-word;
}
.dropdown-item-separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0.5rem 0;
}
.notification-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}
