.center {
  position: center;
  top: 51%;
  right: 0px;
  left: 0;
  margin: auto;
  display: block;
}

.menu-items img{
  height: 218px;
  width:515px;
  border-radius: 1.9rem !important;
}

.menu-items a {
  height: 218px;
  width:315px;
}

.blur-image {
  position: absolute;
  left: 0;
  right: 0;
  height: 218px;
  width:315px;
  border-radius: 1rem !important;
  filter: blur(1.5px);
  z-index: -1;
  background-color: #0b163f;
}
.starter-image {
  position: absolute;
  left: 0;
  right: 0;
  height: 218px;
  width:315px;
  border-radius: 1rem !important;
  z-index: -1;

}
.hover {
  transition: transform 0.3s, box-shadow 0.3s;
}
.hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.container-content {
  z-index: 1;
}
.container-content .btn {
  font-size: 12px;
}
.light-background {
  background-color: rgba(255, 255, 255, 0.4);
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 190vh;
  max-width: 150vh;
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.modal-body {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}
.row.justify-content-center {
  flex-wrap: wrap;
}

.col-lg-4.col-md-6 {
  flex-basis: calc(33.33% - 1rem);
}

.anchor-container {
  display: flex;
  flex-direction: column;
}

.starter-name {
  text-align: center;
  margin-top: -1rem;
  color: #fff;
}
button.close {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}
