  <app-userAccount>
    <div content>
      <div class="text-center bg-light p-5 rounded-custom">
        <img
          [src]="('data:image/*;base64,' + currentUser.image)"
          alt="{{currentUser.image}}"
          width="200"
          class="shadow profile-picture "
        />
        <div class="author-info my-4 pb-120">
          <h5 class="mb-0">{{currentUser.firstname}} {{currentUser.lastname}}</h5>
          <span class="small">{{currentUser.username}}</span>
        </div>
      </div>
    </div>
  </app-userAccount>
