<div class="main-wrapper">
  <section
    class="sign-up-in-section bg-gradient"
    style="
      background: url('../../../assets/img/page-header-bg.svg') no-repeat right bottom;
    "
  >
    <div class="container">
      <div class="home-link-container">
        <a href="/" class="text-decoration-none home-link">
          <i class="fa fa-arrow-left-long"></i> Home
        </a>
      </div>      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 col-md-6 col-12">
          <div class="register-wrap p-5 bg-light shadow rounded-custom text-dark">
            <div class="row">
              <div class="col text-center">
                <img src="assets/img/favicon.ico" class="icon-center img-fluid" style="height: 65px; width: 70px">
              </div>
            </div>
            <h1 class="h4 text-center">Password Reset</h1>
            <p class="text-muted text-center">
              Please enter your email to reset your password
            </p>
            <div
              class="position-relative d-flex align-items-center justify-content-center mt-4 py-2"
            >
              <span class="divider-bar"></span>
              <h6
                class="position-absolute text-center divider-text bg-light mb-0"
              >
              </h6>
            </div>
            <form
              *ngIf="!isLoggedIn"
              name="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && onSubmit(form.email)"
              novalidate
              class="mt-4 register-form"
            >
              <div class="col-md-12">
                <label for="email" class="col-sm-2 col-form-label">Email<span class="text-danger">*</span></label>
                <div class="col-sm-12">
                  <input type="text" class="form-control col-md-auto " requierd minlength="3" id="email"
                         name="Email" #username="ngModel" [(ngModel)]="form.email">
                </div>
              </div>
              <div class="col-12 form-group">
                <button class="btn bg-gradient mt-3 d-block w-100 text-light fw-semi-bold" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
