<app-headerAdmin></app-headerAdmin>
<app-sidebar>
  <div title>
    <h3 class="page-title">Treated Reservations</h3>
  </div>
  <div content>
    <table class="table table-hover table-responsive-sm">
      <thead>
      <tr>
        <th class="text-center"> Item</th>
        <th class="text-center"> User</th>
        <th class="text-center"> Date</th>
        <th class="text-center"> Status</th>
        <th class="text-center"> Treated By</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="reservations && reservations.length > 0; else noReservations">
        <tr *ngFor="let d of reservations">
          <ng-container *ngIf="d.food == null; else foodRow">
            <td class="text-center">{{ d.menu.name }}</td>
          </ng-container>
          <ng-template #foodRow>
            <td class="text-center">{{ d.food.name }}</td>
          </ng-template>
          <td class="text-center">{{ d.user.firstname }} {{ d.user.lastname }}</td>
          <td class="text-center">{{ d.date | ago }}</td>
          <td class="text-center" [ngSwitch]="d.reservationStatus">
            <label class="badge badge-success" *ngSwitchCase="'TREATED'">Ready</label>
          </td>
          <td class="text-center" [ngSwitch]="d.staff">
            <label *ngSwitchCase="null">{{ d.user.firstname }} {{ d.user.lastname}}</label>
            <label *ngSwitchDefault>{{ d.staff.firstname }} {{ d.staff.lastname}}</label>
          </td>
        </tr>
      </ng-container>
      <ng-template #noReservations>
        <tr>
          <td colspan="6" class="text-center">No reservations available</td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
</app-sidebar>
