<app-userAccount>
  <div content>
    <div class="text-center bg-light p-3 rounded-custom">
      <h2 class="mt-2">Edit my personal infos</h2>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 ml-auto mr-auto mt-4 text-center">
              <div *ngIf="currentUser.image;">
                <div style="position: absolute;">
                  <img style="height: 180px; width: 250px; object-fit: fill;" [src]="('data:image/*;base64,' + currentUser.image)" alt="{{currentUser.firstname}}">
                  <label for="file-upload" class="btn btn-outline-light btn-sm px-3 mr-2 mt-2" style="position: absolute; top: 0; right: 0;">
                    <i class="fa fa-pen"></i>
                  </label>
                </div>
              </div>
              <input type="file" id="file-upload" (change)="onFileSelected($event)">
            </div>
            <div class="col-md-5 ml-auto" style="margin-top: -20px;">
              <div class="row">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                  <label class="col-form-label" for="name">Name</label>
                  <input type="text" class="form-control" id="name" formControlName="firstname">
                  <label class="col-form-label" for="lastname">Last Name</label>
                  <input type="text" class="form-control" id="lastname" formControlName="lastname">
                  <label class="col-form-label" for="email">Email</label>
                  <input type="email" class="form-control" id="email" formControlName="username">
                  <button class="justify-content-center mt-5 btn bg-gradient font-weight-bold text-white" type="submit"
                          [disabled]="userForm.invalid">Save
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-userAccount>
