<app-userAccount>
  <div content>
    <h2>Edit my personal infos</h2>
    <div class="text-center bg-light p-5 rounded-custom">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div *ngIf="currentUser.photoUrl">
                <img style="height: 180px; width: 200px" [src]="currentUser.photoUrl">
                </div>
              </div>
              <label for="file-upload"><i class="col-md-1 fa fa-pen upload-photo"></i></label>
              <input #fileInput type="file" id="file-upload" (change)="addChecklist($any($event.target).files)" [(ngModel)]="user.photo" accept="image/*">
            </div>
            <div class="col-md-5 ml-auto" style="margin-top: -20px;">
              <div class="row">
                <form #userForm="ngForm" enctype="multipart/form-data">
                <label class="col-form-label" for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.firstname">
                <label class="col-form-label" for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname">
                <label class="col-form-label" for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
                </form>
              </div>
            </div>
          </div>
          <button class="justify-content-center mt-5 btn btn-primary text-white" (click)="onSubmit()">Save</button>
        </div>
      </div>
    </div>
  </div>
</app-userAccount>
