#file-upload {
  display: none;
}
.upload-photo{
  display:flex;
  gap:5px;
  width: 80%;
  margin-left: 150px;
  padding-top: 13px;
  cursor: pointer;
  color: #000056;
}
.upload-photo:hover{
  color: rgba(0, 75, 255, 0.6);
}
