<app-headerAdmin></app-headerAdmin>
<app-sidebar>
  <div title>
    <h3 class="page-title"> Starters Management </h3>
  </div>
  <div content>
    <div class="row">
      <div class="col-lg-12 mb-3 d-flex justify-content-between">
        <div class="col-lg-1">
          <button class="btn btn-inverse-success" style="width: 100px" (click)="dialog3.showModal()"><i
            class="fa fa-add"></i> Add
          </button>
        </div>
        <div class="col-lg-4">
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <i class="input-group-text border-0 fa fa-search pr-3"></i>
            </div>
            <input type="text" class="form-control bg-transparent border-1" placeholder="Search" [(ngModel)]="search">
          </div>
        </div>
      </div>
    </div>
    <dialog #dialog3 class="col-lg-5 modal-xl">
      <div class="modal-title text-center">
        <h4> Add Starter </h4>
      </div>
      <form name="form" [formGroup]="DishForm" (ngSubmit)="onSubmit(); dialog3.close()" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="card ml-5">
                  <img *ngIf="!fileData" class="image-preview" src="assets/img/blank-preview.jpg">
                  <img *ngIf="fileData" class="image-preview" [src]="fileData">
                </div>
              </div>
              <div class="col-md-5 ml-auto">
                <div class="row">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label class="col-form-label">Name</label>
                      <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="col-form-label">Price</label>
                      <input type="number" class="form-control" formControlName="price">
                    </div>
                    <div class="form-group col">
                      <label class="col-form-label">Description</label>
                      <textarea class="form-control" formControlName="description"></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <label for="file-upload1" class="custom-file-button">Upload Photo</label>
                      <input id="file-upload1" type="file"
                             (change)="onFileSelected($event)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer btn col-lg">
          <button type="submit" class="btn btn-success">Save</button>
          <button class="btn btn-danger" (click)="dialog3.close();">Close</button>
        </div>
      </form>
    </dialog>

    <table class="table table-bordered table-responsive-sm">
      <thead>
      <tr>
        <th class="text-center">Photo</th>
        <th class="text-center"> Dish Name</th>
        <th class="text-center"> Description</th>
        <th class="text-center"> Price</th>
        <th class="text-center"> Actions</th>
      </tr>
      </thead>
      <tbody *ngFor="let d of dishes | filter:search | paginate: {itemsPerPage: 10, currentPage: page}">
      <tr>
        <td class="d-flex align-items-center justify-content-center"><img [src]="('data:image/*;base64,' + d.image)"
                                                                          alt="{{d.name}}"></td>
        <td class="text-center">{{d.name}}</td>
        <td class="text-center">{{d.description}}</td>
        <td class="text-center">{{d.price}}</td>

        <td class=" p-0 align-items-center justify-content-center text-center" style="vertical-align: middle;">
          <button class="btn btn-icon btn-inverse-success" (click)="dialog.showModal(); editDish(d)">
            <i class="fa fa-pen"></i>
          </button>
          <button class="btn btn-icon btn-inverse-danger ml-1"
                  (click)="dialog2.showModal();">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      <dialog #dialog class="col-lg-5 modal-xl">
        <div class="modal-title text-center">
          <h4> Update {{d.name}} </h4>
        </div>
        <form [formGroup]="DishFormUpdate" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="card ml-5">
                    <img class="edit-dish-photo" [src]="('data:image/*;base64,' + d.image)">
                  </div>
                </div>
                <div class="col-md-5 ml-auto">
                  <div class="row">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label class="col-form-label">Name</label>
                        <input type="text" class="form-control" formControlName="name">
                      </div>
                      <div class="form-group col-md-6">
                        <label class="col-form-label">Price</label>
                        <input type="number" class="form-control" formControlName="price">
                      </div>
                      <div class="form-group col">
                        <label class="col-form-label">Description</label>
                        <textarea class="form-control" formControlName="description"></textarea>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <label for="file-upload" class="custom-file-button">Select Photo</label>
                        <input id="file-upload" type="file" accept=".png, .jpg, .jpeg"
                               (change)="onFileUpdate($event)">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer btn col-lg">
          <button type="submit" class="btn btn-success" (click)="Update()">Save</button><!---->
          <button class="btn btn-danger" (click)="dialog.close()">Close</button>
        </div>
      </dialog>
      <dialog #dialog2 class="col-lg-5">
        <div class="modal-title text-center">
          <h4> Delete {{d.name}} </h4>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <span>Do you really want to delete {{d.name}} ?</span>
          </div>
        </div>
        <div class="modal-footer btn col-lg">
          <button class="btn btn-danger" (click)="Delete(d.id)">Delete</button>
          <button class="btn btn-inverse-light" (click)="dialog2.close()">Close</button>
        </div>
      </dialog>
      </tbody>
    </table>
    <div class="row">
      <div class="mt-5 d-flex align-items-center justify-content-center text-success">
        <pagination-controls [responsive]=true (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</app-sidebar>
