<app-headerAdmin></app-headerAdmin>
<app-sidebar>
  <div title>
    <h3 class="page-title"> User Management </h3>
  </div>
  <div content>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th> #</th>
        <th> First name</th>
        <th> Last name</th>
        <th> Username</th>
        <th> Email</th>
        <th> Role</th>
        <th> Actions</th>
      </tr>
      </thead>
      <tbody *ngFor="let u of users">
      <tr>
        <td></td>
        <td>{{u.firstname}}</td>
        <td>{{u.lastname}}</td>
        <td>{{u.username}}</td>
        <td>{{u.email}}</td>
        <td [ngSwitch]="u.roles[0].name">
            <span *ngSwitchCase="'ROLE_ADMIN'">Admin</span>
            <span *ngSwitchCase="'ROLE_STAFF'">Staff</span>
            <span *ngSwitchCase="'ROLE_USER'">User</span>
        </td>
        <td class="p-2">
          <button class="btn btn-icon btn-inverse-success ml-5" (click)="dialog.showModal(); editUser(u)">
            <i class="fa fa-pen"></i>
          </button>
          <button type="button" class="btn btn-icon btn-inverse-danger ml-1" (click)="dialog2.showModal();  editUser(u)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      <dialog #dialog class="col-lg-5">
        <div class="modal-title text-center">
          <h4> Update Role </h4>
        </div>
        <div class="modal-body">
          <div>
            <select class="dropdown col-5 ml-lg-auto text-center center" [(ngModel)]="selectedRole">
              <option class="text-success" *ngFor="let r of roles" [value]="r.id" [ngSwitch]="r.id">
                <span *ngSwitchCase="1">Admin</span>
                <span *ngSwitchCase="2">Staff</span>
                <span *ngSwitchCase="3">User</span>
              </option>
            </select>
          </div>
        </div>
        <div class="modal-footer btn col-lg">
          <button class="  btn btn-success" (click)= "updateUserRole()">Save</button>
          <button class="  btn btn-danger" (click)="dialog.close()">Close</button>
        </div>
      </dialog>
      <dialog #dialog2 class="col-lg-5" >
        <div class="modal-title text-center">
          <h4> Delete User </h4>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <span>Do you really want to delete this user ?</span>
          </div>
        </div>
        <div class="modal-footer btn col-lg">
          <button class="btn btn-danger" (click)="deleteUser(u.id)">Delete</button>
          <button class="btn btn-inverse-light" (click)="dialog2.close()">Close</button>
        </div>
      </dialog>
      </tbody>
    </table>
  </div>
</app-sidebar>
<!--
<div class="mb-3 col-lg-8">
  <label class="form-label" for="role">Role</label>
  <select class="form-select" id="role" aria-label="Default select example"  name="role" #r="ngModel" required [(ngModel)]="selectedRole">
    <option selected="selected" hidden>Select Role</option>
    <option value="Admin">Admin</option>
    <option value="UserApi">UserApi</option>
  </select>
  <div class="alert alert-danger mb-3 mt-3" style="font-size: 15px; padding: 8px; margin: 0;" role="alert" *ngIf="r.touched && r.invalid"><div *ngIf="r.hasError('required')">Please select a role.</div></div>
</div><div class="mb-3 col-lg-8">
  <label class="form-label" for="role">Role</label>
  <select class="form-select" id="role" aria-label="Default select example"  name="role" #r="ngModel" required [(ngModel)]="selectedRole">
    <option selected="selected" hidden>Select Role</option>
    <option value="Admin">Admin</option>
    <option value="UserApi">UserApi</option>
  </select>
  <div class="alert alert-danger mb-3 mt-3" style="font-size: 15px; padding: 8px; margin: 0;" role="alert" *ngIf="r.touched && r.invalid"><div *ngIf="r.hasError('required')">Please select a role.</div></div>
</div>
-->
